.header {
    grid-area: h;
    background-color: green;
    display:flex;
    align-items: center;

}

.header img {
    margin-left: 10px;
    max-width: 40px;
    max-height: 40px;
    border-radius: 50%;
}

